.auth0-lock.auth0-lock.auth0-lock-opened .auth0-lock-overlay {
  background: white;
  opacity: 0.9;
  -webkit-transition: opacity 0.3s ease-in 0s;
  transition: opacity 0.3s ease-in 0s;
}

.auth0-lock.auth0-lock .auth0-lock-header-logo {
    width: auto;
    height: 52px;
    display: inline-block;
    margin: 0 0 11px;
    vertical-align: middle;
}

.auth0-lock.auth0-lock .auth0-lock-form .auth0-lock-alternative {
    display: none;
    margin-top: 20px;
    margin-bottom: 0;
}
